.container{
    background-color: #fff;
    font-size: 1rem;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 200px;
}
.title h4{
    display: flex;
    justify-content: center;
    font-family: "riffic";
}
.title p{
    display: flex;
    justify-content: center;
    font-family: "gillroy-medium";
    color: #979797;
    font-size: 16px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-group{
    display: flex;
}
.input{
    width: 360px;
    padding: 3px 20px;
    margin-bottom: 12px;
    border-radius: 10px;
    font-size: 16px;
    border: 0;
}
::placeholder{
    color: black;
    font-weight: 600;
}
input:focus{
    outline: none;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    border-radius: 10px;
}
.forgot{
    width: 390px;
    text-align: right;
    margin-bottom: 11px;
    font-weight: 600;
}
.forgot a{
    cursor: pointer;
    text-decoration: none;
    color: #979797;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button .submit{
    padding: 5px 20px;
    width: 385px;
    height: 40px;
    background-color: rgb(47, 69, 197);
    color: #fff;
    align-items: center;
    margin-bottom: 16px;
    font-size: 15px;
    border-radius: 8px;
}
.custom-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #979797;
    font-size: 13px;
    font-weight: 400;
}
.else p{
    color: #979797;
    font-family: "gilroy";
}
.googlebtn{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding: 9px 40px;
}
.googlebtn span, i{
    font-size: 12px;
    font-weight: 400;
}
.bottom{
    position: fixed;
    align-items: center;
    bottom: 20px;
    color: #979797;
    font-size: 16px;
    font-weight: 400;
}
.bottom a{
    text-decoration: none;
    color: #000;
}