<div class="container mt-4 header">
    <span class="rounded-button">
        <i class="fas fa-arrow-left"></i>
    </span>
    <div class="name">
        <div class="font-weight-600">Welcome,</div>
        <div class="h4 m-0">Jaydeep Deshmukh</div>
    </div>
    <div class="dropdown">
        <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" type="button">
            <img class="imageround" src="../../../../assets/avatar.jpg" alt="">
        </span>
    </div>
    <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
        <a routerLink="/profile" class="dropdown-item"><i class="far fa-user-circle"></i>Profile</a>
        <a href="#" class="dropdown-item"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </div>
</div>