@font-face{
    font-family: "riffic";
    src: url("../assets/RifficFree-Bold.ttf")
}
@font-face{
    font-family: "gillroy-medium";
    src: url("../assets/Gilroy-Medium.ttf")
}
@font-face{
    font-family: "gillroy-semi";
    src: url("../assets/Gilroy-SemiBold.ttf")
}
@font-face{
    font-family: "gillroy-heavy";
    src: url("../assets/Gilroy-Heavy.ttf")
}